body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.625rem;
    color: #232323;
    margin: 0;
}

.container {
    padding: 0 2rem;
    max-width: 62.5rem;
    margin: 0 auto;
}

.cat-hero {
    background: rgb(236, 212, 144);
    padding: 10rem;
}

.cat-image {
    float: right;
    shape-outside: circle(50%);
}