body {
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    padding-left: 30px;
}

.wrappers {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

#box1, #box2, #box3, #box4, #box5 {
    width: 315px;
    border: 1px solid black;
    background-color: rgb(0, 255, 21);
}

#box6, #box7, #box8, #box9, #box0 {
    border: 1px solid black;
    height: 50%;
    background-color: rgb(225, 69, 71);
}